/* CSS Reset */

::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body { font-family: inherit; }

/* Variables */
:root {
    --color-white: #fff;
    --color-light-white: #eee;

    --color-tomato: #d40640;
    --color-purple-transparent: rgba(88, 24, 69, .9);
    --color-pink-transparent: rgba(216, 14, 91, .9);

    --color-orange: #ff3c00;

    --color-light-black: #222;
    --color-black: #000;

    --shadow: rgba(0, 0, 0, .4);
}

.app {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--color-pink-transparent), var(--color-purple-transparent)), url(https://i.pinimg.com/originals/91/b5/cd/91b5cdab51e207263169904b227503b4.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 80vh;
    width: 25%;
    box-shadow: 0 2rem 4rem var(--shadow);
    background-color: var(--color-light-black);
}

.result-screen {
    height: 19vh;
    font-size: 8rem;
    font-weight: 600;
    /*To display the value at bottom-right of the container*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.computation-screen {
    height: 6vh;
    font-size: 2.5rem;
    /*To display the value at the bottom-right of the container*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.screen {
    height: 25vh;
    width: auto;
    padding: 0 2rem;
    overflow: hidden;
    white-space: no-wrap;
    color: var(--color-light-white);
    background-color: var(--color-tomato);
}